/* Sección de tarjetas de estadísticas */
.statistics-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si el espacio es insuficiente */
  gap: 20px; /* Espaciado entre las tarjetas */
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.card {
  width: 48%; /* Asegura que las tarjetas ocupen el espacio disponible */
  margin: 0; /* Elimina márgenes innecesarios */
}

/* Estilo para las listas de miembros */
.card ul {
  padding-left: 0; /* Elimina el relleno por defecto */
  list-style: none; /* Elimina los puntos de lista */
}

.card li {
  margin-bottom: 5px; /* Espaciado entre elementos de la lista */
  text-align: left; /* Alinea el texto a la izquierda */
}
