:root {
  --bg-color: rgba(0, 0, 0, 0.6);
  --text-color: #ffffff;
  --tooltip-bg: #333333;
  --tooltip-text: #f8f8ff;
  --button-color: #7ed957;
  --icon-color: #7ed957;
}

.sidebar-container {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  background: var(--bg-color);
  backdrop-filter: blur(10px);
  color: var(--text-color);
  transition: width 0.3s ease;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  z-index: 1000;
  font-family: "Roboto", sans-serif;
}

.sidebar:hover {
  width: 210px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 24px;
  width: 100%;
  padding: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar-button:hover {
  box-shadow: 0 0 10px var(--button-color);
}

.sidebar-button .sidebar-tooltip {
  position: absolute;
  left: 20%;
  white-space: nowrap;
  color: var(--tooltip-text);
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin-left: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1100;
  white-space: nowrap;
}

.sidebar-button:hover .sidebar-tooltip,
.sidebar:hover .sidebar-tooltip {
  opacity: 1;
  visibility: visible;
}

.logo {
  width: 60%;
  margin-bottom: 50px;
}

.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 10px;
  transition: flex-direction 0.3s ease, align-items 0.3s ease;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar:hover .user-section {
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.user-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-name {
  display: none;
  margin-left: 10px;
  color: var(--text-color);
}

.sidebar:hover .user-name {
  display: inline;
}

.btn-session {
  background: none;
  border: none;
  color: var(--button-color);
  cursor: pointer;
  font-size: 20px;
}

.sidebar .user-section {
  flex-direction: column;
  align-items: center;
}

.sidebar .user-info {
  margin-bottom: 0;
}

.sidebar .btn-session {
  margin-top: 5px;
}

.sidebar:hover .btn-session {
  margin-left: 20px;
}

.sidebar-button i {
  font-size: 23px;
  color: var(--icon-color);
}

.sidebar:hover .sidebar-tooltip {
  visibility: visible;
  opacity: 1;
}
