.sidebar {
  height: 90vh;
  width: 250px;
  left: 0;
  position: fixed;
  border-radius: 10px;
  background-color: #111111c7;
  padding: 20px;
  margin-left: 5px;
  display: flex; /* Add this */
  flex-direction: column; /* Add this */
  z-index: 20;
}

.sidebar h2 {
  color: white;
  text-align: center;
}

.sidebar ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.sidebar-button {
  align-items: center;
  background: #ffffff;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1a202c;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: 150px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.user-section {
  margin-top: auto; /* Pushes the user section to the bottom */
  padding: 10px;
  text-align: center;
  border-top: white 1px solid;
}

.user-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 15px;
}

.fas {
  margin: 10px;
  height: 20px;
  width: auto;
}

.btn-session {
  border: none;
  color: rgb(255, 255, 255);
}
